<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anexo</title>
    <link rel="stylesheet" href="../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <div class="pg-index">
            <a href="../index.html" class="pg-title"><img src="../img/twokings.png?width=100" alt="Web Icon"/></a>
            <a href="../index.html"><h1>Dos reyes</h1></a>
          </div>
        <nav class="pg-nav">
            <ul>
                <li><a href="sites.html">Sitios relevantes</a></li>
                <li><a href="about.html">Sobre la página</a></li>
                <li><a href="references.html">Anexo</a></li>
            </ul>
        </nav>
    </header>
    <main class="containers">
        <h1>
            Anexo
        </h1>
        <p>
            En este anexo se publica de donde se saca la información que se muestra en esta página.
        </p>
        <ul>
            <li><a href="https://catedraldezaragoza.es/">Catedrales de Zaragoza</a></li>
            <li><a href="https://www.zaragozago.com/">ZaragozaGo</a></li>
            <li><a href="https://www.turismodearagon.com/ficha/palacio-de-la-aljaferia-zaragoza/">Turismo de Aragón</a></li>
            <li><a href="https://vivirlosparques.blob.core.windows.net/vlp-parques-parquegrande/index.html">Vivir los parques</a></li>
            <li><a href="https://www.zaragoza.es/sede/">Zaragoza.es</a></li>
        </ul>               
    </main>    
    <footer class="pg-footer">
        <div class="pg-index">
          <a href="../index.html" class="pg-title"><img src="../img/twokings-w.png?width=100" alt="Web Icon"/></a>
        </div>      
        <nav class="pg-nav-foot">
            <ul>
                <li><a href="../views/sites.html">Sitios relevantes</a></li>
                <li><a href="../views/about.html">Sobre la página</a></li>
                <li><a href="../views/references.html">Anexo</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>