<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dos Reyes</title>
    <link rel="stylesheet" href="../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <div class="pg-index">
            <a href="../index.html" class="pg-title"><img src="../img/twokings.png?width=100" alt="Web Icon" loading="lazy"/></a>
            <a href="../index.html"><h1>Dos reyes</h1></a>
          </div>
        <nav class="pg-nav">
            <ul>
                <li><a href="sites.html">Sitios relevantes</a></li>
                <li><a href="about.html">Sobre la página</a></li>
                <li><a href="references.html">Anexo</a></li>
            </ul>
        </nav>
    </header>
    <main class="containers">
        <h1>
            Sitios relevantes
        </h1>
        <p>¿Quieres conocer los mejores sitios a los que visitar de Zaragoza? Aquí puedes encontrar algunos de los más visitados junto información que te introducirá a su historia.</p>        
        <div class="sites">
            <div>
                <a href="./sites/basilica.html"><img src="../img/basilica.jpg" alt="Web Icon" loading="lazy"/></a>
                <a href="./sites/basilica.html"><h2>Basílica del Pilar</h2></a>
            </div>
            <div>
                <a href="./sites/palacio.html"><img src="../img/palacio.jpg" alt="Web Icon" loading="lazy"/></a>
                <a href="./sites/palacio.html"><h2>Palacio de Aljaferia</h2></a>
            </div>
            <div>
                <a href="./sites/catedral.html"><img src="../img/catedral.jpg" alt="Web Icon" loading="lazy"/></a>
                <a href="./sites/catedral.html"><h2>Catedral de San Salvador</h2></a>
            </div>
            <div>
                <a href="./sites/plaza.html"><img src="../img/plaza.jpg" alt="Web Icon" loading="lazy"/></a>
                <a href="./sites/plaza.html"><h2>Plaza de Señora del Pilar</h2></a>
            </div>
            <div>
                <a href="./sites/parque.html"><img src="../img/parque.jpg" alt="Web Icon" loading="lazy"/></a>
                <a href="./sites/parque.html"><h2>Parque Grande Labordeta</h2></a>
            </div>
            <div>
                <a href="./sites/puente.html"><img src="../img/puente.jpg" alt="Web Icon" loading="lazy"/></a>
                <a href="./sites/puente.html"><h2>Puente de Piedra</h2></a>
            </div>
        </div>                       
    </main>    
    <footer class="pg-footer">
        <div class="pg-index">
          <a href="../index.html" class="pg-title"><img src="../img/twokings-w.png?width=100" alt="Web Icon" loading="lazy"/></a>
        </div>      
        <nav class="pg-nav-foot">
            <ul>
                <li><a href="../views/sites.html">Sitios relevantes</a></li>
                <li><a href="../views/about.html">Sobre la página</a></li>
                <li><a href="../views/references.html">Anexo</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>