<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basílica del Pilar</title>
    <link rel="stylesheet" href="../../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <div class="pg-index">
            <a href="../../index.html" class="pg-title"><img src="../../img/twokings.png?width=100" alt="Web Icon" loading="lazy"/></a>
            <a href="../../index.html"><h1>Dos reyes</h1></a>
          </div>
        <nav class="pg-nav">
            <ul>
                <li><a href="../sites.html">Sitios relevantes</a></li>
                <li><a href="../about.html">Sobre la página</a></li>
                <li><a href="../references.html">Anexo</a></li>
            </ul>
        </nav>
    </header>
    <main class="containers">
        <img srcset="../../img/basilica-m.jpg?as=webp 1000w, ../../img/basilica.jpg?as=webp 4000w" sizes="(max-width: 800px) 800px, (max-width: 1200px) 1000px" alt="Basilica" class="main-img" loading="lazy">
        <h1>Basílica del Pilar</h1>
        <div class="detail-info">
            <p>La tradición afirma que hubo una capilla primitiva, respetada durante la dominación musulmana. Tras la conquista de Zaragoza por Alfonso I (1118), fue sustituida por un templo románico. Este templo románico, fue construido durante el pontificado del Obispo Don Pedro de Librana. De este templo aún se conserva un tímpano (hoy colocado en el muro sur junto a la puerta baja del templo); es un tímpano centrado por gran crismón rodado que se decora con cierta ingenuidad y monotonía, con rosetas inscritas en círculos unas, más naturalistas otras y recortadas las e la parte baja por las mordeduras del tiempo.</p>
            <p>En 1434 un incendio dañó de tal manera al conjunto que se impuso la construcción de una nueva iglesia. Comienza entonces la construcción de un nuevo templo gotico-mudejar que sustituye la iglesia románica. El año 1515, siendo arzobispo de Zaragoza don Alonso de Aragón, se concluyó la construcción. La iglesia gótica era de una cierta amplitud, y estaba constituida por la iglesia propiamente dicha, de una y amplia nave únicamente, y de un claustro pequeño y recargado donde estaba emplazada la Capilla del Pilar. Iglesia que continuó dedicada a la Asunción, pero que era llamada habitualmente de Santa María la Mayor.</p>
            <p>La iglesia de Santa María ocupaba un espacio, indudablemente mucho más pequeño que el actual, y se situaba de una manera notablemente diferente con respecto al templo de ahora. Este templo se enriquecía con importantísimas piezas de carpintería mudéjar (de la que puede ser un ejemplo el conjunto de contraventanas conservadas en la Sacristía Mayor); y en los pies de la nave se emplazaba la monumental sillería de coro que aún se puede admirar en el Templo actual. Pero lo más relevante de aquel conjunto iba a ser el monumental retablo de alabastro cuyo encargo se inicia en 1434, pero que se contrata definitivamente con Forment en 1509.</p>
            <p>Como la devoción a la Sagrada Imagen iba en aumento, el zaragozano Juan de Marca, antes de 1638, planteó la necesidad de una construcción más importante y que tuviera una adecuación con la intensidad de esa creciente devoción. Comprendiéndolo bien el Cabildo decidió convocar un concurso para la nueva y más monumental construcción.</p>
            <p>En la mente de los devotos, y también en la del Cabildo, se estableció un afán de emulación con respecto a la más grande de las iglesias zaragozanas del momento: la Catedral de El Salvador. Esta catedral tenía una planta de salón amplísima y se trataba también de que el Templo del Pilar tuviese ese mismo aspecto. Pero por otra parte, la Catedral era de estilo gótico mientras que parecía oportuno que para el nuevo Templo del Pilar se buscase un estilo más actual, siendo clara la presencia del modelo de San Pedro de Roma que se quería transparentar, con intención de modernidad absoluta, en algunos de los proyectos.</p>
            <p>La nueva construcción, ya de inicio monumental, basándose en las líneas del modelo lejano (o sea San Pedro de Roma) se construyó en el tono de la arquitectura barroca del momento, confiriendo robustez a los pilares y ornamentaciones de los mismos y, dada la monumentalidad de la construcción, una continuidad de bóvedas que debía resultar bastante pesada. La traza general del templo se encargó a Felipe Herrera el Mozo, comenzando las obras en 1681. Lo principal del edificio barroco, incluidas las cúpulas, estaba terminado en 1754. Mientras tanto, en 1725 el Cabildo decidió transformar el aspecto de la Santa Capilla, lo que encomendó a Ventura Rodriguez.</p>
            <p>Cuando Ventura Rodríguez recibe el encargo de terminar la Capilla dedicada a la Virgen del Pilar y retocar el conjunto del Templo, estableciendo la unidad de los elementos, va a ser este genial arquitecto el que configure el monumento actual, seleccione una parte de su ornamentación, e invente estos elementos de tono ya más clasicista; y será él quien planeará la ornamentación en los pilares y en los frisos, que cobran singular elegancia y pierden parte de su maciza densidad con huecos en los que se encajaban espléndidos flameros dorados. En 1765 quedaba terminada la obra de la Santa Capilla.</p>
            <p>Las obras del templo se prolongarán por varios siglos. En 1872 se concluyen las obras del cubrimiento completo con la terminación de la gran cúpula central y la primera torre, a las que seguirán las siguientes levantadas en 1907 y 1961, con lo que quedó rematada la totalidad de la inmensa fábrica. Así, el 10 de octubre de 1872, el arzobispo de Santiago de Compostela, monseñor García Cuesta consagró el nuevo templo en una ceremonia solemne en la que participaron más de cien mil peregrinos.</p>   
        </div>
        <div class="gallery">
            <div>
                <img src="../../img/basilica-interior.jpg" alt="Web Icon" loading="lazy"/>
                <p>Capilla del Pilar</p>
            </div>
            <div>
                <img src="../../img/basilica-interior-2.jpg" alt="Web Icon" loading="lazy"/>
                <p>Órgano y frescos</p>
            </div>
            <div>
                <img src="../../img/basilica-interior-3.jpg" alt="Web Icon" loading="lazy"/>
                <p>Altar y retablo mayor</p>
            </div>
            <div>
                <img src="../../img/basilica-interior-4.jpg" alt="Web Icon" loading="lazy"/>
                <p>Bomba de la basílica</p>
            </div>
        </div>
    </main>
    <footer class="pg-footer">
        <div class="pg-index">
          <a href="../../index.html" class="pg-title"><img src="../../img/twokings-w.png?width=100" alt="Web Icon" loading="lazy"/></a>
        </div>      
        <nav class="pg-nav-foot">
            <ul>
                <li><a href="../../views/sites.html">Sitios relevantes</a></li>
                <li><a href="../../views/about.html">Sobre la página</a></li>
                <li><a href="../../views/references.html">Anexo</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>