<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catedral de San Salvador</title>
    <link rel="stylesheet" href="../../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <div class="pg-index">
            <a href="../../index.html" class="pg-title"><img src="../../img/twokings.png?width=100" alt="Web Icon" loading="lazy"/></a>
            <a href="../../index.html"><h1>Dos reyes</h1></a>
          </div>
        <nav class="pg-nav">
            <ul>
                <li><a href="../sites.html">Sitios relevantes</a></li>
                <li><a href="../about.html">Sobre la página</a></li>
                <li><a href="../references.html">Anexo</a></li>
            </ul>
        </nav>
    </header>
    <main class="containers">
        <img src="../../img/catedral.jpg?as=webp" alt="Catedral" class="main-img" loading="lazy">
        <h1>Catedral de San Salvador</h1>
        <div class="detail-info">
            <p>La Seo del Salvador es una de las dos catedrales de Zaragoza, junto con la Basílica del Pilar. Se trata de un lugar con una larga Historia que se remonta a la época romana, cuando en este mismo emplazamiento se encontraba el foro de Caesaraugusta. Más adelante, esta fue también la ubicación de la Mezquita Mayor de Saraqusta, cuyo minarete aún perdura parcialmente en la torre actual.</p>
            <p>La Seo tal y como la conocemos inició sus obras en el siglo XII, integrando el estilo románico a la anterior mezquita. Fue objeto de reformas y ampliaciones hasta 1704, año en que se colocó el chapitel barroco que corona la torre y en 1788 se añadieron a ésta las esculturas que representan las virtudes cardinales.</p>
            <p>La Seo consta de 5 naves y 6 tramos cubiertos de bóvedas de crucería, lo que le da un aspecto casi cuadrangular. De los 5 originales, se conservan 2 ábsides en la cabecera. A modo de curiosidad, en el lado de la epístola, sobre dos de los desaparecidos, se amplió la sacristía. Y el restante, en el lado del Evangelio, se corresponde con la llamada Parroquieta, se alberga el sepulcro de Lope de Luna.</p>
            <p>La combinación de mármol, bronce, madera policromada y dorada, y el yeso, combinados en elementos góticos, renacentistas y barrocos otorgan al interior del templo una luz única digna de percibir en primera persona.</p>
        </div>
        <div class="gallery">
            <div>
                <img src="../../img/catedral-interior.jpg" alt="Web Icon" loading="lazy"/>
                <p>Coro y trascoro</p>
            </div>
            <div>
                <img src="../../img/catedral-interior-2.jpg" alt="Web Icon" loading="lazy"/>
                <p>Capillas del nave del evangelio</p>
            </div>
            <div>
                <img src="../../img/catedral-interior-3.jpg" alt="Web Icon" loading="lazy"/>
                <p>Capillas de la nave epístola</p>
            </div>
            <div>
                <img src="../../img/catedral-interior-4.jpg" alt="Web Icon" loading="lazy"/>
                <p>Museo de tapices</p>
            </div>
        </div>
    </main>
    <footer class="pg-footer">
        <div class="pg-index">
          <a href="../../index.html" class="pg-title"><img src="../../img/twokings-w.png?width=100" alt="Web Icon" loading="lazy"/></a>
        </div>      
        <nav class="pg-nav-foot">
            <ul>
                <li><a href="../../views/sites.html">Sitios relevantes</a></li>
                <li><a href="../../views/about.html">Sobre la página</a></li>
                <li><a href="../../views/references.html">Anexo</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>