<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palacio de Aljaferia</title>
    <link rel="stylesheet" href="../../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <div class="pg-index">
            <a href="../../index.html" class="pg-title"><img src="../../img/twokings.png?width=100" alt="Web Icon" loading="lazy"/></a>
            <a href="../../index.html"><h1>Dos reyes</h1></a>
          </div>
        <nav class="pg-nav">
            <ul>
                <li><a href="../sites.html">Sitios relevantes</a></li>
                <li><a href="../about.html">Sobre la página</a></li>
                <li><a href="../references.html">Anexo</a></li>
            </ul>
        </nav>
    </header>
    <main class="containers">
        <img srcset="../../img/palacio-m.jpg?as=webp 1000w, ../../img/palacio.jpg?as=webp 4000w" sizes="(max-width: 800px) 800px, (max-width: 1200px) 1000px" alt="Palacio" class="main-img" loading="lazy">
        <h1>Palacio de Aljaferia</h1>
        <div class="detail-info">
            <p>Está considerado como una de las cimas del arte hispanomusulmán, junto con la Alhambra de Granada y la Mezquita de Córdoba. Y es el palacio islámico situado más al norte de Europa, además de ser el más lujoso y mejor conservado de la época de Taifas.</p>
            <p>El "Palacio de la Alegría" fue construido como quinta de recreo de los reyes de Taifas fuera de la ciudad musulmana, entre huertas y acequias.</p>
            <p>Además de albergar tres palacios: Palacio taifal de Al-Muqtadir, Palacio de Pedro IV y el Palacio de los Reyes Católicos fue también Tribunal del Santo Oficio de la Inquisición.</p>
            <p>El palacio de la Aljafería ha tenido diversas funciones a lo largo de la historia, desde alcázar islámico hudí, palacio medieval mudéjar o palacio de los Reyes Católicos, hasta se transformó en una fortaleza en el s. XVI, cárcel durante la Inquisición o cuartel militar. En la actualidad, es sede de las Cortes de Aragón.</p>
            <p>Sus estancias guardan secretos como el "Mirhab", que servía de mezquita u oratorio privado del rey musulmán y su corte, construido en el siglo XI y orientado hacia La Meca. A él se accede a través de una puerta con arco de herradura, inspirado en la Mézquita de Córdoba.</p>
            <p>La Aljafería ha vivido diversos avatares, cambios y etapas. Aún recuerdan muchos aragoneses su condición de cuartel en el siglo XX, pero hoy es un edificio vivo y abierto, un referente cultural, que muestra su larga historia y acoge entre sus muros a la institución que representa a todos los aragoneses: Las Cortes de Aragón.</p>
        </div>
        <div class="gallery">
            <div>
                <img src="../../img/palacio-interior.jpg" alt="Web Icon" loading="lazy"/>
                <p>Patio y torre</p>
            </div>
            <div>
                <img src="../../img/palacio-interior-2.jpg" alt="Web Icon" loading="lazy"/>
                <p>Acceso a la capilla</p>
            </div>
            <div>
                <img src="../../img/palacio-interior-3.jpg" alt="Web Icon" loading="lazy"/>
                <p>Puerta de acceso al palacio</p>
            </div>
            <div>
                <img src="../../img/palacio-interior-4.jpg" alt="Web Icon" loading="lazy"/>
                <p>Grabados de la prisión</p>
            </div>
        </div>
    </main>
    <footer class="pg-footer">
        <div class="pg-index">
          <a href="../../index.html" class="pg-title"><img src="../../img/twokings-w.png?width=100" alt="Web Icon" loading="lazy"/></a>
        </div>      
        <nav class="pg-nav-foot">
            <ul>
                <li><a href="../../views/sites.html">Sitios relevantes</a></li>
                <li><a href="../../views/about.html">Sobre la página</a></li>
                <li><a href="../../views/references.html">Anexo</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>