<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parque Grande Labordeta</title>
    <link rel="stylesheet" href="../../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <div class="pg-index">
            <a href="../../index.html" class="pg-title"><img src="../../img/twokings.png?width=100" alt="Web Icon" loading="lazy"/></a>
            <a href="../../index.html"><h1>Dos reyes</h1></a>
          </div>
        <nav class="pg-nav">
            <ul>
                <li><a href="../sites.html">Sitios relevantes</a></li>
                <li><a href="../about.html">Sobre la página</a></li>
                <li><a href="../references.html">Anexo</a></li>
            </ul>
        </nav>
    </header>
    <main class="containers">
        <img src="../../img/parque.jpg?as=webp" alt="Parque" class="main-img" loading="lazy">
        <h1>Parque Grande Labordeta</h1>
        <div class="detail-info">
            <p>Es el parque más complejo, completo y extenso de toda Zaragoza y contiene zona de pinares, grandes avenidas incluso asfaltadas, rincones emblemáticos como Glorieta de la Princesa, pequeñas zonas ajardinadas con flor de temporada o el Jardín de Invierno, con una configuración que invita al descanso y al disfrute de la contemplación de las diferentes especies ornamentales.</p>
            <p>Cabe destacar la Avenida San Sebastián con sus tres fuentes cibernéticas y los paseos que las rodean donde las figuras de seto recortado y los rosales crean un espectáculo visual de gran colorido. Este paseo se encuentra flanquedo por Cupressus arizonica de gran envergadura. Dentro del parque hay grandes zonas de ocio como cafeterías, terrazas, juegos infantiles, pistas de petanca y de patinaje, kioscos, paseos y andadores, tren infantil para visitas, alquiler de bicicletas, diferentes plazas y monumentos.</p>
            <p>Además dentro del parque se encuentran los viveros municipales, así como un jardín botánico con especies propias de nuestra región y también del resto del mundo. En el año 1997/98 fue premiado por su disminución de barreras arquitectónicas.</p>
            <p>Dentro de sus paseos principales destaca el Paseo de San Sebastián con sus tres fuentes cibernéticas y los paseos que las rodean donde las figuras de seto recortado y los rosales crean un espectáculo visual de gran colorido, coronando al fondo todo este conjunto por la espectacular estatua de Alfonso I El Batallador en lo alto del Cerro de Buenavista. Además del cromatismo del paseo central la vegetación que lo bordea también aporta su nota de colorido, con arizónicas de gran embergadura y magnolios, y en sus laterales almeces, olmos y adelfas.</p>
            <p>Otros paseos importantes son el Paseo de los Bearneses, la ribera del río Huerva o el Paseo de los Plátanos. En el primero podremos disfrutar de un amplio recorrido bajo las copas en alineación de plátanos de gran porte, en paralelo con la Acequia de las Abdulas y un recorrido entre varias plazoletas estanciales con estatuas y fuentes como la del Tenor Fleta o el Jardín Francés con rosas de diferentes aromas y colores.</p>
        </div>
        <div class="gallery">
            <div>
                <img src="../../img/parque-interior.jpg" alt="Web Icon" loading="lazy"/>
                <p>Puentre de los Cantautores</p>
            </div>
            <div>
                <img src="../../img/parque-interior-2.jpg" alt="Web Icon" loading="lazy"/>
                <p>Estación del tren del parque</p>
            </div>
            <div>
                <img src="../../img/parque-interior-3.jpg" alt="Web Icon" loading="lazy"/>
                <p>Fuente de Neptuno</p>
            </div>
            <div>
                <img src="../../img/parque-interior-4.jpg" alt="Web Icon" loading="lazy"/>
                <p>Jardín botánico</p>
            </div>
        </div>
    </main>
    <footer class="pg-footer">
        <div class="pg-index">
          <a href="../../index.html" class="pg-title"><img src="../../img/twokings-w.png?width=100" alt="Web Icon" loading="lazy"/></a>
        </div>      
        <nav class="pg-nav-foot">
            <ul>
                <li><a href="../../views/sites.html">Sitios relevantes</a></li>
                <li><a href="../../views/about.html">Sobre la página</a></li>
                <li><a href="../../views/references.html">Anexo</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>