<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plaza de Señora del Pilar</title>
    <link rel="stylesheet" href="../../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <div class="pg-index">
            <a href="../../index.html" class="pg-title"><img src="../../img/twokings.png?width=100" alt="Web Icon"/></a>
            <a href="../../index.html"><h1>Dos reyes</h1></a>
          </div>
        <nav class="pg-nav">
            <ul>
                <li><a href="../sites.html">Sitios relevantes</a></li>
                <li><a href="../about.html">Sobre la página</a></li>
                <li><a href="../references.html">Anexo</a></li>
            </ul>
        </nav>
    </header>
    <main class="containers">
        <img src="../../img/plaza.jpg?as=webp" alt="Plaza" class="main-img">
        <h1>Plaza de Señora del Pilar</h1>
        <div class="detail-info">
            <p>La conocida popularmente como “el salón de la ciudad”, es una de las plazas peatonales más grandes de Europa. Punto de encuentro social y cultural, saluda a zaragozanos y visitantes. La Catedral Basílica de Nuestra Señora la Virgen del Pilar destaca como símbolo de la ciudad en un entorno de joyas arquitectónicas, museos, monumentos y calles con tradición y sabor.</p>
            <p>Además del Pilar, otros edificios embellecen y dan realce a esta espléndida Plaza de las Catedrales, como la Catedral del Salvador, popularmente conocida como La Seo, la Lonja de Mercaderes, el Ayuntamiento de Zaragoza o la iglesia de San Juan de los Panetes.</p>
            <p>El monumento escultórico de Francisco de Goya y Lucientes preside la plaza a un lado y la fuente de la Hispanidad al otro, acompañada de 3 bloques de mármol que recuerdan a las 3 carabelas con las que Cristóbal Colón descubrió América. ¡A vista de pájaro descubrirás el mapa de Hispanoamérica!</p>
            <p>De la ciudad romana de Caesaraugusta, la ciudad conserva el Foro, el Puerto Fluvial, las Termas y el Teatro que tenía una capacidad para más de 6.000 personas. No te pierdas los espacios arqueológicos musealizados.</p>
        </div>
        <div class="gallery">
            <div>
                <img src="../../img/plaza-interior.jpg" alt="Web Icon"/>
                <p>Plaza del Pilar</p>
            </div>
            <div>
                <img src="../../img/plaza-interior-2.jpg" alt="Web Icon"/>
                <p>Ofrenda de flores</p>
            </div>
            <div>
                <img src="../../img/plaza-interior-3.jpg" alt="Web Icon"/>
                <p>Entrada al Belén de navidad</p>
            </div>
            <div>
                <img src="../../img/plaza-interior-4.jpg" alt="Web Icon"/>
                <p>La Lonja y monumento a Goya</p>
            </div>
        </div>
    </main>
    <footer class="pg-footer">
        <div class="pg-index">
          <a href="../../index.html" class="pg-title"><img src="../../img/twokings-w.png?width=100" alt="Web Icon"/></a>
        </div>      
        <nav class="pg-nav-foot">
            <ul>
                <li><a href="../../views/sites.html">Sitios relevantes</a></li>
                <li><a href="../../views/about.html">Sobre la página</a></li>
                <li><a href="../../views/references.html">Anexo</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>