<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puente de piedra</title>
    <link rel="stylesheet" href="../../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <div class="pg-index">
            <a href="../../index.html" class="pg-title"><img src="../../img/twokings.png?width=100" alt="Web Icon" loading="lazy"/></a>
            <a href="../../index.html"><h1>Dos reyes</h1></a>
          </div>
        <nav class="pg-nav">
            <ul>
                <li><a href="../sites.html">Sitios relevantes</a></li>
                <li><a href="../about.html">Sobre la página</a></li>
                <li><a href="../references.html">Anexo</a></li>
            </ul>
        </nav>
    </header>
    <main class="containers">
        <img src="../../img/puente.jpg?as=webp" alt="Puente" class="main-img" loading="lazy">
        <h1>Puente de piedra</h1>
        <div class="detail-info">
            <p>Con una longitud de 225 metros y 7 arcadas, una de ellas enterrada bajo el Paseo Echegaray, el Puente de Piedra es el puente más antiguo de Zaragoza que cruza el Ebro. Sus orígenes se remontan a la fundación de Caesaraugusta, en el siglo I ya hay constancia de la existencia de un puente hecho de piedra o madera, que daba acceso a una de las puertas principales de entrada a la ciudad y permitía cruzar a las poblaciones del noroeste de Hispania.</p>
            <p>El puente que vemos actualmente es del siglo XV, inició su construcción en 1401 y se inauguró en 1440. A finales del siglo XVIII se construyó el Pretil de San Lázaro, para proteger la margen izquierda de las inundaciones en épocas de crecidas.</p>
            <p>En 1813, tras los Sitios de Zaragoza, las tropas napoleónicas volaron la arcada más cercana al Arrabal cuando huían, dejando la ciudad incomunicada y evitando que las tropas aragonesas les persiguieran. Para conmemorar el bicentenario de la liberación de la ciudad, se levantó un Pairón, monumento de inspiración mudéjar realizado en ladrillo, metal y cerámica.</p>
            <p>A mitad del puente, en uno de los miradores, llama la atención la Cruz de Basilio, construida en honor de los caídos durante los Sitios de Zaragoza. ¿Sabías que los cuatro leones de bronce presiden ambos lados del puente desde 1991? Desde hace más de nueve siglos, el león es el emblema de Zaragoza como símbolo de fuerza y poder.</p>
        </div>
        <div class="gallery">
            <div>
                <img src="../../img/puente-interior.jpg" alt="Web Icon" loading="lazy"/>
                <p>Balcón de San Lorenzo</p>
            </div>
            <div>
                <img src="../../img/puente-interior-2.jpg" alt="Web Icon" loading="lazy"/>
                <p>Pairón</p>
            </div>
            <div>
                <img src="../../img/puente-interior-3.jpg" alt="Web Icon" loading="lazy"/>
                <p>Cruz de Basilio</p>
            </div>
            <div>
                <img src="../../img/puente-interior-4.jpg" alt="Web Icon" loading="lazy"/>
                <p>Leones de bronce</p>
            </div>
        </div>
    </main>
    <footer class="pg-footer">
        <div class="pg-index">
          <a href="../../index.html" class="pg-title"><img src="../../img/twokings-w.png?width=100" alt="Web Icon" loading="lazy"/></a>
        </div>      
        <nav class="pg-nav-foot">
            <ul>
                <li><a href="../../views/sites.html">Sitios relevantes</a></li>
                <li><a href="../../views/about.html">Sobre la página</a></li>
                <li><a href="../../views/references.html">Anexo</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>